<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donor for Donation</title>
        <link rel="stylesheet" href="./css/style2.css" />
    </head>
    <body>
        <nav>
            <div class="nav-items">
                <img class="logo" src="./assets/Logo.png" alt="logo">
            </div>
            <div class="nav-items">
                <a href="./" class="heading">Blood Donation App</a>
            </div>
            <div class="nav-items">
                <a href="./login">Login</a>
                |
                <a href="./register">Register</a>
            </div>
        </nav>
        <div class="center">
            <p class="size">
                <span>"</span>Give the gift of life to other <br />
                by donating bl<span>oo</span>d<span>"</span>
            </p>
            <p class="p">
                Donating blood has benefits for your emotional and physical
                health.<br />
                According to a report by the Mental Health Foundation
            </p>
        </div>

        <div class="login">
            <p>First login or register to proceed</p>
            <div class="option">
                <a href="./login"><button type="submit">login</button></a>
                <span class="spam">or</span>
                <a href="./register"><button type="submit">register</button></a>
            </div>

            <br /><br />
        </div>
        <hr />
        <br /><br /><br />

        <div class="table">
            <p class="text">Information about blood Donation:</p>
            <img
                src="./assets/blood-donation-chart-recipient-and-donor-vector-23523010.jpg"
                alt=""
            />
        </div>
        <footer>
            <div class="link-container">
                <div class="links"></div>
                <div class="links"></div>
                <div class="links"></div>
            </div>
            <div class="copyright">All rights are resevered under © 2022</div>
        </footer>
    </body>
</html>
