<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Get Blood Page</title>
        <link rel="stylesheet" href="/css/gb.css" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/e4bc1b2a0e.js"
            crossorigin="anonymous"
        ></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-items">
                <img class="logo" src="./assets/Logo.png" alt="logo">
            </div>
            <div class="nav-items">
                <a href="./" class="heading">Blood Donation App</a>
            </div>
            <div class="nav-items not-logged">
                <a href="./login">Login</a>
                |
                <a href="./register">Register</a>
            </div>
            <div class="nav-items logged">
                <a href="/request_lists">Hello, <span class="username"></span> </a>
                |
                <a href="/login" class="logout">logout</a>
            </div>
        </nav>

        <div class="content">
            <span>Blood Bank:</span>
            <div class="form">
                <form action="/GetBloodPage" method="post">
                    <i class="fa fa-light fa-location-dot" style="color: var(--red); margin: 0 10px;"></i
                    ><input
                        type="text"
                        name="pinCode"
                        placeholder="Enter pin-code"
                        class="inpt"
                    />
                    <button type="submit" class="btn">Find</button>
                </form>
            </div>
        </div>

        <%if (banks != null) { %> 
            <div class="table">
                <table>
                    <% banks.forEach(bank => { %>
                        <tr>
                            <td class="bank"><%= bank.Organization_name %></td>
                            <td class="no"><%= bank.Contact_number %></td>
                            <td class="add"><%= bank.Address %></td>
                        </tr>
                    <% }) %> 
                </table>
            </div>
        <% } %>

        <div class="footer">
            <div class="container">
                <div>
                    <p class="question">Want to get in touch with a donor?</p>
                    <a href="/donor"><input type="button" value="Click here" /></a>
                </div>
                <div>
                    <p class="question">Make Request For Blood Donation</p>
                    <a class="not-logged" href="/login"><input type="button" value="Click here" /></a>
                    <a class="logged" href="/requests"><input type="button" value="Click here" /></a>
                </div>
            </div>
            <p class="rights">All rights are resevered under © 2022</p>
        </div>

        <script>
            let user = localStorage.getItem('user')
            if ( user === null) {
                document.querySelectorAll('.logged').forEach(e => {
                    e.style.display = 'none'
                })
            } else {
                document.querySelectorAll('.not-logged').forEach(e => {
                    e.style.display = 'none'
                })        }
            document.querySelector('.username').innerHTML = user
            let logout = document.querySelector('.logout')
            logout.addEventListener('click', () => {
                localStorage.removeItem('user')
            })
        </script>

    </body>
</html>
